async-generator==1.10
click==8.0.4
Cython==0.29.24
future==0.18.3
matplotlib==3.5.1
pandas==1.4.2
networkx==2.6.3
numpy==1.22.4
pydot==1.4.2
pytz==2022.1
PyYAML==6.0
scipy==1.10.0
typing-inspect==0.7.1
typing_extensions==4.2.0
uvloop==0.16.0
mimesis==6.1.1
click==8.0.4
ray==2.0.1
pyvis==0.3.1
